<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="" th:href="@{/css/empAdd.css}" />
    <meta charset="UTF-8">
    <title>AddEmployee</title>
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.rtl.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.rtl.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.rtl.min.css" />
    <script
            src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        function validateEmployeeInformation() {
            var isValidated = true;
            if ($("#name").val() == '') {
                $("#nameSpanId").show();
                isValidated = false;
                console.log(isValidated)
            } else {
                $("#nameSpanId").hide();
                isValidated = true;
            }
            if ($("#email").val() == '') {
                $("#emailSpanId").show();
                isValidated = false;
                console.log(isValidated)
            } else {
                $("#emailSpanId").hide();
                isValidated = true;
            }
            if ($("#contact").val() == '') {
                $("#contactSpanId").show();
                isValidated = false;
                console.log(isValidated)
            } else {
                $("#contactSpanId").hide();
                isValidated = true;
            }
            if ($("#age").val() == '') {
                $("#ageSpanId").show();
                isValidated = false;
                console.log(isValidated)
            } else {
                $("#ageSpanId").hide();
                isValidated = true;
                console.log(isValidated)
            }
            console.log(isValidated)
            return isValidated;

        }

        function saveEmployeeInformation() {
            if (validateEmployeeInformation()) {
                var inputPayload = {
                    "name" : $("#name").val(),
                    "department" : $("#department").val(),
                    "age" : $("#age").val(),
                    "contact" : $("#contact").val(),
                    "salary" : $("#salary").val(),
                    "email" : $("#email").val()
                }
                var inputPayloadString = JSON.stringify(inputPayload);
                jQuery.ajax({
                    type : 'POST',
                    cache : true,
                    async : false,
                    contentType : 'application/json',
                    dataType : 'json',
                    url : location.origin + "/saveEmployee",
                    data : inputPayloadString,
                    success : function(data) {
                        clearAllFormData();
                        alertify.alert('Confirmation', 'Successfully Created!!',
                                function() {
                                });
                    }
                });

            }
        }

        function clearAllFormData() {
            $("#name").val("");
            $("#department").val("");
            $("#contact").val("");
            $("#email").val("");
            $("#salary").val("");
            $("#age").val("");
        }

        function hideAllErrorMessage() {
            $("#nameSpanId").hide();
            $("#ageSpanId").hide();
            $("#contactSpanId").hide();
            $("#emailSpanId").hide();
        }
    </script>
</head>
<body onload="hideAllErrorMessage()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-prim">

        <div class = "navbar-header">
            <a class="navbar-brand" href="#"><img th:src="@{/images/EmpL2.png}" alt="Missin Logo" class = "img-responsive logo"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Employees</a>
                </li>
            </ul>

        </div>
    </nav>



    <section class="get-in-touch">
        <h1 class="title" >Add Employee <span style="float:right; font-size:8px; " >* fields are mandatory</span></h1>
        <form class="contact-form row">
            <div class="form-field col-lg-6">
                <input id="name" class="input-text js-input" type="text" required>
                <label class="label" for="name">Name<span style="color:red">*</span></label>
                <span id="nameSpanId" class="text-danger">Name is mandatory!</span>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="email" class="input-text js-input" type="email" required>
                <label class="label" for="email">E-mail<span style="color:red">*</span></label>
                <span id="emailSpanId" class="text-danger">Email is mandatory!</span>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="department" class="input-text js-input" type="text" >
                <label class="label" for="department">Department</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="phone" class="input-text js-input" type="text" required>
                <label class="label" for="phone">Contact Number<span style="color:red">*</span></label>
                <span id="contactSpanId" class="text-danger">Contact Number is mandatory!</span>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="age" class="input-text js-input" type="text" required>
                <label class="label" for="age">Age<span style="color:red">*</span></label>
                <span id="ageSpanId" class="text-danger">Age is mandatory!</span>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="salary" class="input-text js-input" type="text" >
                <label class="label" for="salary">Salary</label>
            </div>

            <div class="form-field col-lg-12">
                <input onclick="saveEmployeeInformation()" class="submit-btn" type="submit" value="Add Employee" >
            </div>
        </form>
    </section>

<!--<h1 >Add Employee Page</h1>-->
<!--<script src ="" th:src="@{/js/main.js}" ></script>-->

</body>
</html>